.content {
  flex: 1;
}

.form-login {
  max-width: 300px;
  padding: 1rem;
}

.form-signup {
  max-width: 400px;
  padding: 1rem;
}

.form-mini {
  max-width: 330px;
  padding: 1rem;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  min-width: 80px;
}

.button-container a {
  min-width: 80px;
}

.content-container {
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}

.home-container {
  margin: auto;
  max-width: 700px;
  padding: 1rem;
}

.holding-details{
  max-width: 400px;
}

.pie-chart{
  max-width: 450px;
}

.active {
  color: #ffffff;
}

.alert {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 20px);
  max-width: 1000px;
}

/* selected dropdown item color  */
.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255); 
}

.dropdown-item {
  --bs-dropdown-link-color: #a5a5a5;
}

.accordion {
  --bs-accordion-active-bg: #00000000;
  --bs-accordion-active-color: #f8f9fa;
  --bs-accordion-btn-focus-box-shadow: none
}

.pagination {
  --bs-pagination-color: #ffffff;
  --bs-pagination-bg: #00000000;
  --pagination-hover-color: #ffffff;
  --bs-pagination-active-border-color: #ffffff;
  --bs-pagination-active-bg: #00000000;
  --bs-pagination-focus-box-shadow: none;
}

.list-group {
  --bs-list-group-active-color: #ffffff;
  --bs-list-group-active-bg: #00000000;
  --bs-list-group-active-border-color: #ffffff;
  --bs-list-group-active-text-color: #ffffff;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.equation {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.sticky-card{
  position: sticky;
  top: 100px;
}

/* text colors */
.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}

.blog-card {
  height: 530px; /* Set standard height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* content spacing */
}

.blog-card-body {
  overflow: auto;
  flex-grow: 1; /* Allow body to grow */
}

.blog-card-image-container {
  height: 300px; /* Default height for larger screens */
  display: flex; /* Flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Prevent overflow */
  background-color: #ffffff; /* Optional: Background color for empty space */
  border-radius: 8px; /* Add rounded corners */
}

.blog-card-image {
  max-height: 100%; /* Constrain the image height to the container */
  max-width: 100%; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensure the image fits within the container */
  object-position: center; /* Center the image */
}

.blog-card-text {
  position: absolute; /* Position text absolutely within the card */
  top: 320px; /* Set the absolute height of the text */
  width: 95%; /* Ensure the text spans the card's width */
}

/* Media query for small screens (max width 768px, e.g., tablets or smaller) */
@media (max-width: 992px) {
  .blog-card {
    height: auto; /* Reduce the body height for small screens */
  }
  .blog-card-image-container {
    height: auto; /* Reduce the container height for small screens */
  }
  .blog-card-text {
    position: relative; /* Reset the text position */
    top: auto; /* Reduce the absolute height of the text */
  }
}