.content {
  flex: 1;
}

.form-login {
  max-width: 300px;
  padding: 1rem;
}

.form-signup {
  max-width: 500px;
  padding: 1rem;
}

.form-mini {
  max-width: 330px;
  padding: 1rem;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  min-width: 80px;
}

.button-container a {
  min-width: 80px;
}

.content-container {
  margin: auto;
  max-width: 1000px;
  padding: 1rem;
}

.home-container {
  margin: auto;
  max-width: 600px;
  padding: 1rem;
}

.holding-details{
  max-width: 400px;
}

.pie-chart{
  max-width: 450px;
}

.active {
  color: #ffffff;
}

.alert {
  position: fixed;
  top: 70px; /* Adjust this value to position the alert below the nav bar */
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 20px); /* Adjust the width as needed */
  max-width: 1000px;
}